ChessGame\
x64\
*.sdf
*.sln
*.txt
ChessGame/.vs/
ChessGame/ChessGame.VC.VC.opendb
ChessGame/ChessGame.VC.db
ChessGame/ChessGame/
ChessGame/x64/

ChessGame*
moc_mainwindow.*
ui_mainwindow.*
*.o
mainwindow.*
